@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

* {
    margin: 0;
    padding: 0;
}

.banner{
    background-image: url(imagens/banner.jpg);
    background-size: cover;
    height: 90vh;
}

.banner-info{
    top: 40%;
    text-align: center;
    position: relative;
   
    font-family: 'Andada Pro', serif;
}

.banner-info h1{
    font-size: 60px;
}

.banner-info p{
    font-size: 20px;
}

.introdução{
    margin:2%;
    margin-bottom: 4%;
}

.texto-principal{
    font-family: 'Andada Pro', serif;
    font-size: 20px;
}

.texto-principal span{
    color: rgb(49, 183, 216);
    font-size: 45px;
    font-family: 'Ephesis', cursive;
}

ul {
    margin-top: 40px;
    list-style: none;
    text-align: center;
}

li {
    margin: 0px 10%;
    display: inline;
    font-size: 30px;
    border: 3px solid rgb(49, 183, 216);
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(49, 183, 216);
    color:white;
}
li a{
    color:white;
    text-decoration: none;
}

li a:hover{
    color:black;
}

li:hover{
    background-color: white;
}

.person-banners{
    background-color: black;
    padding: 20px;
    color: white;
    min-height: 60vh;
    margin-bottom:20px;
    background-repeat: no-repeat;
    background-position: right;
    background-size:50%;
}

.person-info{
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.person-info h1{
    font-family: 'Ephesis', cursive;
    font-size: 100px;
}

.person-info p{
    font-family: 'Andada Pro', serif;
    text-justify: auto;
    font-size: 20px;
    margin-top: 30px;
}

.person-info a{
    color:white;
    margin-top: 50px;
    border: 5px solid white;
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
    padding: 5px;
}

.person-info a:hover{
    background-color: rgb(49, 183, 216);
    color:black;
}

.steve{
    background-image: url(imagens/steve.jpeg);
}

.gates{
    background-image: url(imagens/gates.jpg);
}

.musk{
    background-image: url(imagens/musk.png);
}


.footer{
    text-align: center;
    background-color: rgb(49, 183, 216);
    padding: 50px;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.links p{
color: rgb(255, 255, 255);

}

.fab{
color: rgb(255, 255, 255);
font-size: 40px;
padding: 0 5px;
}

.fa-facebook:hover{
color: #4267b2;
}

.fa-twitter:hover{
color: #56abef;
}

.fa-github:hover{
color: black;
}

.fa-instagram:hover{
color: #e24d51;
}
