             

@font-face {
    font-family: '星象字体';
    src: url('星象字体.ttf') format("truetype");
}

* {
    box-sizing: border-box;
    
}

html {
    font-family: "星象字体", serif ;
    min-width: 100vw;
    min-height: 100vh;

}

body{
    margin: 0;
    background: linear-gradient(#47e7da, #0b44df,rgb(20, 197, 168), #19161a);
}

.game_title {
    color: black;
    text-align: center;
    font-size: 3em;
    font-weight: 1000;
    
}

.game_container {
    
    
    height: 100%;
    width: 100%;
    background-color: aliceblue;
    border-radius: 10px;

    
    
}

.game_info_whatever {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
}

.game_info {
    color:rgb(216, 231, 226) ;
    font-size: 1em;
}

.card {
    position: relative;
    height: 175px;
    width: 125px;

}

.card-face {

    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    font-size: 3em;
    

}















