.imagem {
    background-image: url(../images/1222945.jpg); /* 确保路径正确，并加上引号 */
    background-repeat: no-repeat; /* 将no-repeat独立出来 */
    width: 100%;
    height: 100vh;
    position: relative;
    background-position: center;
    background-size: cover;
}

body{
    background-color: mediumaquamarine;
}

/**.box{
    display: grid;
    margin-top: 1rem;
    margin-left: 5rem;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
    position: absolute;
    left: 10rem;
    top: 20%;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}**/
.container {
    position: absolute;
    margin-top: 14rem;
    margin-left: 18rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap: 10px; 
    padding: 20px;
    border: 1px solid #ccc;
}
.cell {
    padding: 20px;
    padding-right: 5rem;
    border: 1px solid #000;
    background-color: #f0f0f0;
    text-align: left;
}