@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    position: fixed;
    width: 100%;
    padding: 10px 0 ;
    z-index: 10;
    
}

nav .menu{
    /* max-width: 1250px; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
}
.menu .logo{
    text-align: left;
}
.menu .logo a{
    text-decoration: none;
    color: white;
    font-size: 1.6em;
    font-weight: 550;
}

.menu ul{
    display: inline-flex;

}

.menu ul li{
    list-style: none;
    margin-left: 1em;
}

.menu ul li:first-child{
    margin-left: 0px;
}

.menu ul li a{
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0,3 ease;
    background-color: rgb(80, 77, 78);
}

.menu ul li a:hover{
    background-color: white;
    color: black;

}

.menu-icon {
    display: none; /* 确保菜单图标是隐藏的 */
  }

  .imagem {
    background-image: url(../images/1222945.jpg); /* 确保路径正确，并加上引号 */
    background-repeat: no-repeat; /* 将no-repeat独立出来 */
    width: 100%;
    height: 100vh;
    position: relative;
    background-position: center;
    background-size: cover;
}

.imagem::before{ /* 蒙版*/
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);

}

/* game area !*/


.gamebackzone{
    background-size:cover;
    width: 75%;
    background: none;
    background-size: cover;
    display: flex;
    position: absolute;
    top: 25%;
    left: 25%;
    padding: 0, 20px;

}

.gamezone {
    width: 60%;
    height: 69vh;
    border: 5px solid white;
    padding: 10px;
    perspective: 1000px; /* Perspective for 3D effect */
}



.正面{
    flex: 1;
    width: 13%;
    height: 20%;
    opacity: 1;
    margin: 4px;
}

.反面{
    flex: 1;
    width: 13%;
    height: 20%;
    opacity: 1;
    margin: 4px;
    /* backface-visibility: hidden; */
    transform: rotateY(180deg);
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.反面:hover{
    transform: rotateY(180deg);
}


.正面卡牌{
    position: absolute; bottom:  35px;
    
}

.cardback{
    position: absolute; bottom: 20px;
    
}





.Pre_页尾区块{
    background-size:cover;
    height: 10vh;
    background-color: rgb(204, 0, 255);
}



.页尾区块{
    text-align: center;
    background-color: rgb(49, 183, 216);
    padding: 50px;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.MediaIcon p{
    color: rgb(255, 255, 255);
    
}
    
    .fab{
    color: rgb(255, 255, 255);
    font-size: 40px;
    padding: 0 5px;
    }
    
    .fa-facebook:hover{
    color: #4267b2;
    }
    
    .fa-twitter:hover{
    color: #56abef;
    }
    
    .fa-github:hover{
    color: black;
    }
    
    .fa-instagram:hover{
    color: #e24d51;
    }



