@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Poppins', sans-serif;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(71, 37, 116);
    min-height: 100vh;
    }


.框架{
    height: 900px;
    width: 1200px;
    background-color: antiquewhite;
}

 .全部卡牌{ 
    flex-wrap: wrap;
}

.全部卡牌 .单独一张卡牌 .通用{ 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: aqua;
}

.单独一张卡牌 .通用 img{
    height: 100%;
    width: 40px;
    object-fit: cover;
}

.全部卡牌 .单独一张卡牌 {
    cursor: pointer;
    height: calc(100% / 4 - 10px);
    width: calc(100% / 4 - 10px);
}













